{% extends 'base.html' %} {% load bootstrap_icons %} {% block title %} Список
произведений {% endblock title %} {% block content %}

<!-- Заголовок и кнопка добавления -->

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2 fw-bold text-primary">
    {% bs_icon 'book' size='1.2em' extra_classes='me-2'%} Список произведений
  </h1>
  <a href="{% url 'poem_create' %}" class="btn btn-success">
    {% bs_icon 'plus-circle' extra_classes='me-1' %} Добавить
  </a>
</div>

<!-- Информация о количестве -->

{% if object_list %}
<div class="alert-alert-info mb-4 py-2">
  <div class="d-flex align-items-center">
    {% bs_icon 'info-circle' extra_classes='me-1' %}
    <span class="fw-medium">Всего произведений: {{ object_list|length }}</span>
  </div>
</div>

{% endif %}

<!-- Сетка карточек -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for poem in object_list %}

  <div class="col">
    <div class="card h-100 shadow-sm">
      <!-- Заголовок карточки -->
      <div class="card-header bg-primary text-white">
        <div class="d-flex justify-content-between align-items-start">
          <div class="m3-3">
            <h5 class="card-title mb-1">
              <a
                href="{% url 'poem_detail' poem.pk %}"
                class="text-white text-decoration-none"
              >
                {{poem.title|truncatechars:35}}
              </a>
            </h5>
            <p class="card-subtitle mb-0 small text-white">
              {% bs_icon 'person' size='0.8em' extra_classes='me-1' %}
              <!--  -->
              {% if poem.author %} {{poem.author|truncatechars:20}} {% else %}
              Анонимный / неизвестный автор {% endif %}
            </p>
          </div>

          <!-- Действия -->

          <div class="btn-group btn-group-sm" role="group">
            <a
              href="{% url 'poem_update' poem.pk %}"
              class="btn btn-outline-light"
              title="Редактировать"
              >{% bs_icon 'pencil-square' %}</a
            >
            <a
              href="{% url 'poem_delete' poem.pk %}"
              class="btn btn-outline-light"
              title="Удалить"
              onclick="return confirm('Удалить {{poem.title}} ?')"
              >{% bs_icon 'trash' %}</a
            >
          </div>
        </div>
      </div>

      <div class="card-body d-flex flex-column">
        <div class="mb-3">
          <h6>
            {% bs_icon 'file-text' size='0.8em' extra_classes='me-1' %}
            Содержание:
          </h6>
          <div
            class="bg-light rounded p-3 overflow-auto"
            style="max-height: 300px"
          >
            <p class="mb-0 small">
              {{poem.content|linebreaks|truncatewords:100}}
            </p>
          </div>
        </div>

        {% if poem.history %}
        <div class="mt-auto">
          <h6 class="text-muted small mb-2">
            {% bs_icon 'clock-history' size='0.8em' extra_classes='me-1' %}
            История
          </h6>
          <p class="small text-muted mb-0">{{poem.history}}</p>
        </div>
        {% endif %}
      </div>

      <div class="card-footer">
        <p>{{poem.created_at}}</p>
        <p>{{poem.updated_at}}</p>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<!-- Конец контентного блока -->
{% endblock content %}
