{% extends 'base.html' %}
<!--  -->
{% block title %} Зарегистрированные поэты {% endblock title %}
<!--  -->
{% block content %}

<ul>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">О себе</th>
        <th scope="col">Дата регистрации</th>
        <th scope="col">Последнее обновление</th>
      </tr>
    </thead>
    <tbody>
      {% for poet in object_list %}
      <tr>
        <td>
          <a href="{% url 'profile_detail' poet.pk %}">
            {{poet.user.username}}
          </a>
        </td>
        <td>{{poet.bio | truncatechars:50}}</td>
        <td>{{poet.created_at}}</td>
        <td>{{poet.updated_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>
{% endblock content %}
